<!--INICIO DO CARRINHO-->
<div class="box box-solid">
    <div class="box-header">
        <i class="fa fa-shopping-cart"></i>

        <h3 class="box-title">Carrinho</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="text-center" *ngIf=!carts.length  [@fadeItem]='fadeItemTrigger'> Seu carrinho de compras está vazio </div>
        <div class="table-responsive">
            <table class="table">
                <tbody *ngIf=carts.length  [@fadeItem]='fadeItemTrigger'>
                    <tr *ngFor="let cart of carts" [@fadeItem]='fadeItemTrigger'>
                        <th>({{cart.quantity}}x) {{cart.menuItem.name}}</th>
                        <td class="text-right">{{cart.value() | currency: 'BRL'}}</td>
                        <td class="text-righ">
                        <a (click)="removeItem(cart.menuItem)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td class="text-right">{{total() | currency: 'BRL'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer" *ngIf=carts.length>
        <div class="pull-right">
        <button (click)="clear()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
        <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
        </div>
    </div>
</div>
<!-- FIM DO CARRINHO -->