<div class="modal fade in" tabindex="-1" role="dialog" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelAction()">Não</button>
        <button type="button" class="btn btn-primary" (click)="positiveAction()">Sim</button>
      </div>
    </div>
  </div>
</div>

<!--
<div class="modal fade" [style.display]="showModal ? 'block' : 'none'"></div>
  <div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
     <div class="modal-dialog">
        <div class="modal-popup">
          <div class="popup-title">
            <span>{{title}} </span>
            <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
            <p *ngIf="subTitle">{{subTitle}}</p>
          </div>
        <ng-content></ng-content>
      </div>
  </div>
</div>
-->