<a [routerLink]="['/restaurants', restaurantInput.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="restaurantInput.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{restaurantInput.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{restaurantInput.rating}}</span>
      <span class="place-info-box-detail">{{restaurantInput.category}}</span>
      <span class="place-info-box-detail">{{restaurantInput.deliveryEstimate}}</span>
    </div>
  </div>
</a>